body {
  text-align: center;
  margin: 0;
  width: 100%;
  height: 100%;
}
header {
text-align: center;
font-family: Copperplate, Palatino;
color: black;
}
.header2 {
text-align: center;
}
.container {
  font-family: Applegothic, serif;
  color: #132c56;
 }
 p.job1 {
 text-align:center;
 }
 .jobul1 {
 text-align: left;
 color: #4f0a21;
 list-style: disc;
 }
  p.job2 {
 text-align:center;
 }
 .jobul2 {
 text-align: left;
 color: #4f0a21;
 list-style: disc;
 }
  p.job3 {
 text-align:center;
 }
 .jobul3 {
 text-align: left;
 color: #4f0a21;
 list-style: disc;
 }
  p.job4 {
 text-align:center;
 }
 .jobul4 {
 text-align: left;
 color: #4f0a21;
 list-style: disc;
 }
 .hero {
 list-style: circle;
 text-align: left;
 }
 .header3 {
 text-align: center;
 }
 .umcolor1 {
 color: #ffcc33;
 }
 .umcolor2 {
 color: #7a0019;
 }
 .ttucolor1 {
 color: #4F2984;
 }
 .ttucolor2 {
 color: #FFDD00;
 }
 .box1 {
    background-color: grey;
    width: 250x;
    border: 25px solid antiquewhite;
    padding: 25px;
    margin: 25px;
}
.box2 {
    background-color: antiquewhite;
    width: 250x;
    border: 25px solid black;
    padding: 25px;
    margin: 25px;
}
