body {
  text-align: center;
  margin: 0;
  width: 100%;
  height: 100%;
}
header {
text-align: left;
font-family: Applegothic, Palatino;
color: #aa54bb;
}
.container {
  font-family: Copperplate, serif;
  color: green;
 }
 p.job1 {
 text-align:left;
 }
 .jobul1 {
 text-align: left;
 color: red;
 list-style: disc;
 }
